@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <a class="btn btn-primary" href="Amigoes/Index" role="button">Amigos</a>
    <a class="btn btn-primary" href="Estadoes/Index" role="button">Estados</a>
    <a class="btn btn-primary" href="Pais/Index" role="button">País</a>
</div>
